/* texto inicial depois do cabeçalho */
.header-contato {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: sans-serif;
    margin-top: 30px;
}
.header-contato h1{
    font-size: 35px;
    color: #1a1512;
    margin-bottom: 10px;
    font-family: sans-serif;
}
.header-contato h2{
    font-size: 15px;
    font-weight: 400;
    color: #777;
    max-width: 600px;
    margin: 0 auto;
    font-family: sans-serif;
}
/* bordas de fora do conteudo*/
.contato-body{
    align-items: center;
    border: 1px solid #E7E5E4;
    border-radius: 16px;
    padding: 16px;
    margin: 30px 90px 90px 90px;
    display: flex;
    background-color: #FAFAF9;
}
/* config posição do formulário */
.forms-contato{
    display: grid;
    padding: 20px 20px 20px 80px;
}
/* config label em cima do input */
.forms-contato label{
    font-size: 14px;
    font-family: Bold;
}
/* config input formulário*/
.input-contato{
    margin-top: 5px;
    margin-bottom: 20px;
    align-items: center;
    border: 1px solid gray;
    border-radius: 16px;
    padding: 10px;
}

/* botão enviar formulário */
.button-contato{
    margin-top: 20px;
    background-color: #1a1512;
    color: #fff;
    border: none;
    padding: 18px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 14px;
}
/*config ícones img*/
.icone-img {
    border: 10px solid #FEF3C6;
    background-color: #FEF3C6;
    height: 14px;
    width: 14px;
    border-radius: 16px;
}
/*config text ícones h2*/
.icones-contato h2 {
    font-size: 15px;
    font-family: sans-serif;
    margin: 10px 10px;
    max-width: 200px;
}
/* config text icones h3 */
.icones-contato h3{
    font-size: 10px;
    font-family: sans-serif;
    margin-bottom: 20px;
    max-width: 100px ;
    color: #777;
}
/* condig posição dos icones */
.contato-body{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* config img grande */
.grande-img{
    display: flex;
    flex-direction: row-reverse+column;
    align-items: stretch;
}