.texto-galeria {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.galeria-container div.container1 {
    display: flex;
    gap: 24px;
}
.galeria-container div.container2 {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.galeria-container img{
    object-fit: cover;
    border-radius: 16px;
    transition: transform 0.3s ease;
}
    .galeria-imagens {
        display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
}
.galeria-container {
display: flex;
flex-direction: column;
align-items: center;
gap: 24px;
}
.galeria-container p{
    font-size: 20px;
    max-width: 700px;
}

