* {
    margin: 0;
    padding: 0;
}

:root {
    --gray-900: #1C1917;
    --gray-700: #44403B;
    --gray-600: #79716B;
    --gray-500: #A6A09B;
    --gray-100: #F5F5F4;

    --orange-400: #FE9A00;
}

.navbar-container {
    display: flex;
    align-items: center;
    padding: 1rem;

    background-color: var(--gray-900);
    color: var(--gray-100);

    & .logo-container {
        flex: 1;

        & a {
            display: flex;
            align-items: center;
            gap: .5rem;

            text-decoration: none;

            & .logo-img {
                width: 2rem;
            }

            & .logo-name {
                font-size: 1.5rem;
                color: var(--orange-400);
            }
        }
    }

    & .nav-links-container {
        display: flex;
        list-style: none;
        gap: 2rem;
        margin-right: 2rem;

        font-family: 'Courier New', Courier, monospace;

        & .nav-link {

            &.active {
                color: var(--orange-400);
            }

            & a {
                text-decoration: none;
                color: inherit;
                font-size: .875rem;
                text-transform: uppercase;

                transition: color .3s ease;

                &:hover {
                    color: var(--orange-400);
                }
            }
        }
    }

    & .carrinho-compra-container {
        padding-left: 2rem;
        border-left: 1px solid var(--gray-700);
    }
}

.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    padding: 2rem;

    background-color: var(--gray-900);

    & .footer-logo-name {
        font-size: 1.25rem;
        font-weight: 500;
        color: var(--orange-400);
    }

    & .footer-description {
        font-size: .875rem;
        text-align: center;
        max-width: 440px;
        color: var(--gray-500);
    }

    & .footer-copy {
        margin-top: .5rem;
        font-size: .75rem;
        color: var(--gray-600);
    }
}

.container {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
    padding: 40px;
    max-width: 1000px;
    margin: 0 auto;

}

.texto p {
    width: 80%;
    text-indent: 60px;
    text-align: justify;
    line-height: 1.6;

}

.imagem {
    width: 50%;
    height: 400px;
    border-radius: 10px;
    object-fit: cover;
    object-position: left;

}

h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    color: #b66700;
}

.timeline-section {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 60px;
}

.timeline-box {
    background-color: #FFF7F7;
    padding: 30px;
    border-radius: 12px;
    width: 80%;
    max-width: 900px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1)
}

.timeline {
    position: relative;
    margin-left: 20px;
}

.timeline::before {
    content: "";
    position:absolute;
    left: 7px;
    top: 0;
    width: 2px;
    height: 100%;
    background-color:#FE9A00;
}

.timeline-item {
    position: relative;
    margin-bottom: 30px;
    padding-left: 40px;
}

.timeline-dot {
    position:absolute;
    left: 2px;
    top: 5px;
    width: 12px;
    height: 12px;
    background-color:#FE9A00;
    border-radius: 50px;
}

.timeline-content h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.timeline-content p {
    margin: 5px 0 0;
    color: #555;
}